@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Your Secure Password";
    Layout = "_AuthenticationLayout";
}

<div id="signup" class="card">
    <div class="card-header">
        <h2 class="card-title">Set Your Secure Password</h2>
        <p class="additional-info"><span>You need to set a strong and secure password. Here you can find all about our <a href="/password-policy">Password Policy</a>.</span></p>
        <p>
            @ViewBag?.ErrorMessage
        </p>
    </div>
    <div class="card-body">
        <form method="post" asp-action="SetPassword" asp-controller="SignUp" novalidate>

            <div class="form-group">
                <input asp-for="Password" class="form-input" />
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-input" />
            </div>
            <button type="submit" class="btn btn-primary">Continue</button>
        </form>
    </div>
    <div class="card-footer">
        <div class="additional-info center">
            Already have an account? <a asp-action="Index" asp-controller="Login">Log In</a>
        </div>
    </div>
</div>