<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(!string.IsNullOrEmpty(ViewData["Title"]?.ToString()) 
            ? $"{ViewData["Title"]} - Ventixe Inc." 
            : "Ventixe Inc.")
    </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="wrapper">
        <partial name="Partials/_SidebarPartial" />

        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
